/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .left-nav-container:after {
        display: none;
    }
    .map div {
        width: 300px;
    }
    .ru-statistic-title {
        margin-bottom: 0px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .left-nav-container:after {
        display: none;
    }
    .map div {
        width: 300px;
    }
    .ru-statistic-title {
        margin-bottom: 0px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .left-nav-container:after {
        display: none;
    }
    .map div {
        width: 300px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .map div {
        width: 600px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .map div {
        width: 600px;
    }
}